yellow = #FBC02D

.title-nav
	color #FFF
	font-size 20px

.img-profile
	width 30vh	

.name
	color yellow

h5
	color yellow
	font-size 17px

.titulo
	font-size 18px
	color #FFF

span 
	font-size 20px
	color #ACA8AD
	cursor pointer
/*
span:hover:before 
	content "\2605"
	position absolute
	color #FA8608
*/
.back
	margin-left 0

.star-new-one
	color #FA8608
	
.star-new-two
	color #ACA8AD
	